https://www.djangoproject.com/download/1.7a1/tarball/#egg=Django==1.7a1
Markdown==2.3.1
dj-database-url==0.2.2
-e git+git://github.com/kwantopia/dj-static.git#egg=dj-static
django-filter==0.7
django-toolbelt==0.0.1
djangorestframework==2.3.12
gunicorn==18.0
ipython==1.1.0
psycopg2==2.5.2
pystache==0.5.3
static==1.0.2
static3==0.5
wsgiref==0.1.2
